@charset "UTF-8";
div{
box-sizing: border-box;
}

#div{
    width: 1600px;
    height: 1200px;
    margin: auto;
}

 #header{
    width: 100%;
    height: 10%;
    border: 3px solid purple;
}

#content{
    width: 100%;
    height: 80%;
    
    margin: auto;
}

#content-left{
    width: 12%;
    height: 100%;
    float: left;
}

#content-center{
    width: 83%;
    height: 100%;
    float: left;
}

#content-right{
    width: 5%;
    height: 100%;
    float: left;

}

#footer{
    width: 100%;
    height: 10%;
    border: 3px solid purple;
}

.gs-btn{
	background:transparent;
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14;
    font-weight: 700;
    line-height: 1;
    margin: 18px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    outline:none;
    position:relative;
    top:0;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
     transition: all 0.2s ease-in-out 0s;
     background:#9a59b5;
	color:#fff;
	box-shadow: 0 3px 0 #7f4497;
	border-radius:5px;	
}

.gs-btn:hover, #fileArea #upload:hover{
	background:#c472e6;	
}
.gs-btn:active, .gs-btn:focus, #fileArea #upload:active{
	background:#944fb0;	
}

.gs-btn-parent{
text-align: center;
}

#fileArea #upload{
display: block;
  padding: 2px;
  color: #fff;
  font-size: 15px;
  line-height: normal;
  vertical-align: bottom;
  text-align:center;
  background-color: #944fb0;
  cursor: pointer;
	width:60px;
  border-radius: .25em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

 #fileArea input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}